@charset "UTF-8";

body{
  margin:0;
  border-top: none
}

a{
  color:black;
  text-decoration: none;
  font-weight: bold;
}

#wrap{
  overflow: hidden;
  max-width:1180px;
  margin: 0 auto;
}

.not_wrap:not(#wrap){
  width: 1400px;
}

.hline{
  border-bottom:2px solid #66330e;
  width:1300px;
  margin: 0;
}

.cb{
  clear: both;
}

body{
  font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  text-decoration: :none;
  list-style: none;
  /* width: 100%; */
  /* line-height: 25px; */
  border-bottom:  2px solid #66330e;
  border-left:  2px solid #66330e;
  border-right:  2px solid #66330e;

}

body ul{
  list-style: none;
}



header{
  /* margin:0 auto; */
  text-align: center;
  /* background-color: #ffcc99; */
  width:100%;
  /* text-decoration: underline; */
  margin: 0 auto;
  z-index: 1;
  top:0;
  background-color: white;
}


header h1{
  margin:0;
  /* font-family: 'Monoton', cursive; */
  font-family: 'Dancing Script', cursive;
  font-size: 95px;
  font-weight: normal;
  color:black;
  /* float: left; */
  display: inline-block;
}

header  h2{
  color:#66330e;
  margin:0;
  font-weight: normal;
}

header ul{
  margin: 0 auto;
}

header p{
  margin:0;
  color:#000000;
  font-size: 25px;
  /* display: inline-block; */
  font-weight: normal;
}

.contact{
  float:right;
  font-family: "Hiragino Kaku Gothic Pro";
}

.contact:after{
  clear:both;
}


.call{
  display: inline-block;
  font-weight: bold;
}

nav{
  padding:0;
  margin:0;
  clear: both;

}

nav ul{
  /* float:left; */
  /* padding:10px 10px; */
  margin:0 auto;
  text-align: center;
  padding: 0;
  width:100%;


}

nav li{
  padding-right:5.5em;
  display: inline-block;
  font-family: 'Monoton', cursive;
  font-family: Arial;
  width:24%;
  height:65px;
  padding: 1px;
  padding-top:5%;
  color:black;
  font-weight: bold;
}

nav li:hover{
  background-color: #e6d7cf;
}

nav li a{
  color:black;
  text-decoration: none;
  font-size: 22px;
  /* transition: 1.0s; */
  width:24%;
  height: 5%;
  margin-top:25px;
}

nav li a:hover{
  /* color:black; */
  border-bottom: solid 2px #00000;
  background-color: black;
}

ruby{
  font-size: 28px;
}

ruby rt{
  font-size: 50%;
  color: #66330e;
  /* ruby-position:after; */
  font-weight: bold;
}



header p{
  color:#66330e;

}

.callnum{
  color:#b22222;
  font-size: 30px;
  font-weight: bold;
}


.orange{
  color:#b22222;
}

.top .intro{
  color: #66330e;
  font-weight: bold;
}

.topimg{
  position: relative;
  overflow: hidden;
  /* width:100%; */
  /* max-width: 100%; */
  /* height: auto; */
}

.topimg p{
  color:#fff;
  background-color: rgba(0,0,0,0.62);
  display: inline-block;
  padding:0.9em 4em;
  position: absolute;
  bottom:15px;
  left:814px;
}

.topics{
  display: inline-block;
  float: left;
  width:60%;
  /* border:solid 2px black; */
}

.topic1{
  border: solid 2px gray;
  padding: 0 15px;
  padding-bottom: 25px;
}

.topic2{
  border: solid 2px gray;
  padding: 0 15px;
  padding-bottom: 25px;
  margin-top: 15px;
}

.news{
  color:black;
  margin-bottom:3px;
  border-bottom: 2px dotted rgba(100,100,100,0.25);
  font-weight: bold;
}

.news2{
  color:black;
  margin-bottom:3px;
  font-weight: bold;
}

.news2 a{
  border:1px solid gray;
  padding: 12px;
  padding-left: 15px;
}

.news2 a:hover{
  background-color: #e6d7cf;
}

.info{
  width:35%;
  /* border:solid 2px black; */
  float: right;

  display: block;
}

.info-top {
  color:#b22222;
  border-bottom: 2px solid #ff8833;
  font-size:22px;
  font-weight: bold;
}

.info:after{
  clear: both;
}

.guide{
  padding:0.5em;
  border-left:5px solid #b22222;
  border-bottom: 2px solid gainsboro;
  margin-bottom: 1.8em;
  height:120px;
}

.guide h3{
  text-align: center;
  font-size: 2em;
  margin:16px 0;
  color: black;
}

.detail{
  text-align: center;
  width:65%;
  margin: 0 auto;
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-bottom:10px;;

}
.headline{
  color:#b22222;
  font-weight:bold;
  font-size: 22px;
  margin-top:40px;
  border-bottom:dotted 3px #ff8833;
  padding-bottom:0px;
}

.main:after{
  clear: both;
}

.menu

.item{
  width:24%;
}

footer{
color: #66330e;
text-align:center;
width:100%;
}

.main{
  height:780px;
  /* background-color: #cccccc; */
}

/* #######599px以下###### */
@media(max-width:599px){

  body{
    border: 2px solid #66330e;

  }

  header{
  position: fixed;
  border-top: none;
  /* background-color:#ff8833; */

    /* position: fixed; */
    /* margin-bottom: 1000px; */
  }

  .top{
    margin-top: 80px;
  }



  header h1{
    font-size:46px;
    /* border-bottom: 2px solid black; */

  }

  nav ul{
    font-size: 17px;
    /* font-weight:bold; */
  }

  nav li{
    height:40px;
    padding-top:0;
  }

  ruby{
    font-size: 22px
  }

  nav ul a{
    text-decoration: none;
    line-height: 80px;
  }

  nav ul a li{
    display: block;
    margin:0;
    text-align: center;
    /* padding:40px; */
    width:100%;
    /* font-size: 20px; */
    border-bottom:1px dotted #66330e;
    height: 50px;
    text-decoration: none;
    height: 80px;
    background-color: white;
  }

  .first-nav{
    border-top: 2px solid #66330e;
  }

  .last-nav{
    border-bottom: none;
  }


  #menubtn{
    position:absolute;
    top:20px;
    right:15px;
  }

  #menubtn span{
    display: none;
  }

  #menubtn i{
    color:#66330e;
    font-size: 22px;
    background-color: white;
  }

  .intro{
    text-align: center;
  }

  .intro p{
    font-size: 5px;
    color:black;
    font-weight: bold;

  }

  .topimg{
    text-align:center;

  }

  .topimg img{
    width:98%;
    max-width: 100%;
    height:auto;
    text-align: center;
  }

  .main{
    width: 100%;
  }

  .topics{
    width: 90%;
    margin: 0 auto;
  }

  .topic1{
    /* margin: 0 auto; */
    width:98%;
    font-size: 12px;
    display: inline-block;
    /* padding-bottom: 15px; */
    padding:15px;
    padding-top: 0;
    /* text-align: center; */
    margin-bottom: 10px;
    margin-left: 2%;
    /* margin-right: 2%; */
  }

  .topic2{
    /* margin: 0 auto; */
    width:98%;
    font-size: 12px;
    display: inline-block;
    /* padding-bottom: 15px; */
    padding:15px;
    padding-top: 0;
    /* text-align: center; */
    margin-bottom: 30px;
    margin-left: 2%;
    /* margin-right: 2%; */
  }



  .info{
    width: 100%;
  }

  .info-top{
    width:95%;
    margin: 0 auto;
    margin-bottom:25px;
  }

  .guide{
    margin: 0 2%;
    margin-bottom:6%;
  }

  .guide  h3{
    font-size: 22px;
  }

}

@media(max-width: 767px){

  .hline{
    display: none
  }

  header{
    border-bottom: 3px solid #66330e
  }

  #menubtn{
    border:none;
    background-color: white;
  }
}

@media(min-width:768px){
  #menubtn{
    display: none;
  }

  #menu{
    display: block !important
  }

  }
